torch>=2.0.0
torchvision>=0.15.1
timm>=0.9.2
transformers>=4.31.0
gradio>=4.19.2
supabase>=2.3.4
huggingface_hub>=0.20.0
opencv-python>=4.8.0.76
pillow>=10.0.0
python-dotenv>=1.0.0
loguru>=0.7.2
requests>=2.31.0
